/* CSS Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    --primary-color: #0366d6;
    --primary-color-light: #79b8ff;
    --secondary-color: #24292e;
    --tertiary-color: #e1e4e8;
    --quaternary-color: #586069;
    --shadow-close: 0 1px 0 rgba(27, 31, 35, 0.04);
    --shadow-far: 0 1px 0 rgba(27, 31, 35, 0.04), 0 8px 24px rgba(149, 157, 165, 0.2);
    --border-inactive: 1px solid var(--tertiary-color);
    --border-active: 1px solid var(--primary-color);
    --transition-all-linear: all 0.3s ease;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

/* Top Bar linear loader */
#linear-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    display: none;
    /* Blue color from GitHub */
    background: var(--primary-color);
    z-index: 9999;
    transition: var(--transition-all-linear);
    transform: translateX(-100%);
}

#linear-loader.active {
    transform: translateX(0%);
    display: block;
}

#linear-loader .linear-loader-bar {
    width: 100%;
    height: 100%;
    background: var(--primary-color-light);
    animation: linear-loader 2s infinite;
    animation-fill-mode: forwards;
}

@keyframes linear-loader {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* GitHub username input section */
#username-input-section {
    display: none; /* Initially none, then flex */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    width: fit-content;
    border: var(--border-inactive);
    box-shadow: var(--shadow-close);
    padding: 2rem;
    margin: 0.5rem;
    border-radius: 8px;
    transition: var(--transition-all-linear);
}

#username-input-section.active {
    display: flex;
}

/* On mouse over for #username-inpput-section */
#username-input-section:hover {
    border: var(--border-active);
    box-shadow: var(--shadow-far);
}

#username-input-section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

#username-input-section input {
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    border: 1px solid var(--tertiary-color);
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: var(--transition-all-linear);
}

#username-input-section input:hover,
#username-input-section input:focus,
#username-input-section input:active {
    outline: none;
    border: 1px solid var(--primary-color);
}

#username-input-section input[type="submit"] {
    background: var(--primary-color-light);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: var(--shadow-close);
}

#username-input-section input[type="submit"]:hover,
#username-input-section input[type="submit"]:focus,
#username-input-section input[type="submit"]:active {
    background: var(--primary-color);
    box-shadow: var(--shadow-far);
}

#username-input-list {
    /* position: absolute; */
    display: none; /* Initially none, then inline-block */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0.5rem 0;
    width: 100%;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
    transition: var(--transition-all-linear);
}
#username-input-list.active {
    display: inline-block;
}
#username-input-list .users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-y: scroll;
    max-height: 240px;
    width: 100%;
}
#username-input-list .users .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex; */
    /* gap: 1rem; */
    padding: 0.5rem;
    width: 100%;
    border-bottom: var(--border-inactive);
    /* border-bottom-width: 2px; */
    transition: var(--transition-all-linear);
}
#username-input-list .users .user:hover {
    border: var(--border-active);
    background-color: var(--primary-color-light);
    border-radius: 4px;
}
#username-input-list .users .user:last-child {
    border-bottom: 0;
}
#username-input-list .users .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

/* GitHub user profile section */
#user-profile-section {
    display: none; /* Initially none, then flex */
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 2rem;
    flex-wrap: nowrap;
    /* background-color: var(--tertiary-color); */
}

#user-profile-section.active {
    display: flex;
}

#user-profile-section .user-profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1rem;
}

#user-profile-section .user-profile-info .user-profile-image {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: auto;
    border: var(--border-inactive);
    padding: 8px;
    /* margin: 0 1rem; */
    box-shadow: var(--shadow-close);
    background-color: white;
    transition: var(--transition-all-linear);
}
#user-profile-section .user-profile-info .user-profile-image:hover {
    border: var(--border-active);
    box-shadow: var(--shadow-far);
}
#user-profile-section .user-profile-info .user-profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#user-profile-section .user-profile-info .user-profile-details {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 2rem;
    gap: 1rem;
}
#user-profile-section .user-profile-info .user-profile-details .user-profile-name {
    font-size: 2rem;
    font-weight: 600;
}
#user-profile-section .user-profile-info .user-profile-details p {
    color: var(--quaternary-color);
    font-size: 1.1rem;
    font-weight: 600;
}
#user-profile-section .user-profile-info .user-profile-details p.user-profile-location {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}
#user-profile-section .user-profile-info .user-profile-details p.user-profile-location img {
    width: 16px;
    height: 16px;
    /* data uri */
    content: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20class=%22icon%20icon-tabler%20icon-tabler-map-pin%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20stroke-width=%222%22%20stroke=%22currentColor%22%20fill=%22none%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M9%2011a3%203%200%201%200%206%200a3%203%200%200%200%20-6%200%22%20/%3E%3Cpath%20d=%22M17.657%2016.657l-4.243%204.243a2%202%200%200%201%20-2.827%200l-4.244%20-4.243a8%208%200%201%201%2011.314%200z%22%20/%3E%3C/svg%3E");
}

#user-profile-section .user-profile-url {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2rem;

}
#user-profile-section .user-profile-url img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
    content: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20class=%22icon%20icon-tabler%20icon-tabler-link%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20stroke-width=%222%22%20stroke=%22currentColor%22%20fill=%22none%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M9%2015l6%20-6%22%20/%3E%3Cpath%20d=%22M11%206l.463%20-.536a5%205%200%200%201%207.071%207.072l-.534%20.464%22%20/%3E%3Cpath%20d=%22M13%2018l-.397%20.534a5.068%205.068%200%200%201%20-7.127%200a4.972%204.972%200%200%201%200%20-7.071l.524%20-.463%22%20/%3E%3C/svg%3E");

}
#user-profile-section .user-profile-url a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    transition: var(--transition-all-linear);
}
#user-profile-section .user-profile-url a:hover {
    color: var(--primary-color);
}

/* GitHub user repositories section */
#user-profile-repositories {
    display: none; /* Initially none, then block */
}
#user-profile-repositories.active {
    display: block;
}

#user-repositories-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#user-repositories-list .user-repository {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    /* height: 200px; */
    border-radius: 8px;
    border: var(--border-inactive);
    padding: 1rem;
    box-shadow: var(--shadow-close);
    transition: var(--transition-all-linear);
}
#user-repositories-list .user-repository:hover {
    border: var(--border-active);
    box-shadow: var(--shadow-far);
}
#user-repositories-list .user-repository .user-repository-header {
    /* contains name, stars and forks */
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;   
}

#user-repositories-list .user-repository .user-repository-header .user-repository-name {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 600;
    /* margin-bottom: 0.5rem; */
}
#user-repositories-list .user-repository .user-repository-header .user-repository-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
#user-repositories-list .user-repository .user-repository-header .user-repository-stats > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: var(--border-inactive);
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
    background-color: var(--tertiary-color);
    transition: var(--transition-all-linear);
}
#user-repositories-list .user-repository .user-repository-header .user-repository-stats > div:hover {
    border: var(--border-active);
    background-color: white;
}
#user-repositories-list .user-repository .user-repository-header .user-repository-stats > div > img {
    width: 16px;
    height: 16px;
}
#user-repositories-list .user-repository .user-repository-header .user-repository-stats > .user-repository-stars > img {
    content: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20class=%22icon%20icon-tabler%20icon-tabler-star%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20stroke-width=%222%22%20stroke=%22currentColor%22%20fill=%22none%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M12%2017.75l-6.172%203.245l1.179%20-6.873l-5%20-4.867l6.9%20-1l3.086%20-6.253l3.086%206.253l6.9%201l-5%204.867l1.179%206.873z%22%20/%3E%3C/svg%3E");
}
#user-repositories-list .user-repository .user-repository-header .user-repository-stats > .user-repository-forks > img {
    content: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20class=%22icon%20icon-tabler%20icon-tabler-git-fork%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20stroke-width=%222%22%20stroke=%22currentColor%22%20fill=%22none%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M12%2018m-2%200a2%202%200%201%200%204%200a2%202%200%201%200%20-4%200%22%20/%3E%3Cpath%20d=%22M7%206m-2%200a2%202%200%201%200%204%200a2%202%200%201%200%20-4%200%22%20/%3E%3Cpath%20d=%22M17%206m-2%200a2%202%200%201%200%204%200a2%202%200%201%200%20-4%200%22%20/%3E%3Cpath%20d=%22M7%208v2a2%202%200%200%200%202%202h6a2%202%200%200%200%202%20-2v-2%22%20/%3E%3Cpath%20d=%22M12%2012l0%204%22%20/%3E%3C/svg%3E");
}
#user-repositories-list .user-repository .user-repository-description {
    padding: 1rem 0;
    color: var(--quaternary-color);
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
#user-repositories-list .user-repository .user-repository-languages {
    /* contains span tags to be displayed as blocks */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
}
#user-repositories-list .user-repository .user-repository-languages span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background-color: var(--primary-color);
    transition: var(--transition-all-linear);
}
#user-repositories-list .user-repository .user-repository-languages span:hover {
    background-color: var(--primary-color-light);
}

/* User repository loader icon */
#user-repositories-loader {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* rotating animation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#user-repositories-loader img {
    width: 32px;
    height: 32px;
    animation: rotate 4s infinite linear;
}
#user-repositories-loader.active {
    display: flex;
}

/* GitHub user repository footer */
div.user-repositories-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 80%; */
    padding: 1rem 0;
    margin-bottom: 1rem;
    align-items: flex-end;
    flex-wrap: wrap;
}
/* Contains pagination and sort by older and newer */
/* Pagination */
div.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    margin-top: 1rem;
}

div.pagination button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 0;
    border: var(--border-inactive);
    border-left: 0;
    color: var(--primary-color);
    background-color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition-all-linear);
}
div.pagination button img {
    width: 24px;
    height: 24px;
    /* making svg in data uri color to --primary-color */
    filter: invert(30%) sepia(100%) saturate(500%) hue-rotate(180deg);
}
div.pagination button:last-child {
    border-radius: 0 4px 4px 0;
}
div.pagination button:first-child {
    border-radius: 4px 0 0 4px;
    border-left: var(--border-inactive);
}
div.pagination button:hover {
    border: var(--border-active);
    color: white;
    background-color: var(--primary-color-light);
}
div.pagination button.active {
    border: 0;
    color: white;
    background-color: var(--primary-color);
}

div.user-repositories-footer .sort-by {
    /* has 1 span containung text, 2 buttons for Newest, Oldest */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

div.user-repositories-footer .sort-by span {
    color: var(--quaternary-color);
    font-size: 1.1rem;
    font-weight: 600;
}
div.user-repositories-footer .sort-by button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 36px;
    border-radius: 4px;
    border: var(--border-inactive);
    color: var(--quaternary-color);
    background-color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition-all-linear);
}
div.user-repositories-footer .sort-by button:hover {
    border: var(--border-active);
    color: white;
    background-color: var(--primary-color-light);
}
div.user-repositories-footer .sort-by button.active {
    border: 0;
    color: white;
    background-color: var(--primary-color);
}
